<%= form_for @translation, url: {action: "create"} do |f| %>
  <div class="form-group">
    <%= f.collection_select :language_from_id, Language.all, :id, :name, {}, {class: "form-control input-lg"}  %>
  </div>
  <div class="form-group">
    <%= f.collection_select :language_to_id, Language.all, :id, :name, {}, {class: "form-control input-lg"}  %>
  </div>
  <div class="form-group">
    <%= f.submit "Choose", class: "btn btn-primary"%>
  </div>
<% end %>